USE [master]
GO
/****** Object:  Database [Dealership]    Script Date: 5/5/2017 3:16:46 PM ******/
CREATE DATABASE [Dealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dealership', FILENAME = N'C:\Users\Jason\Dealership.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dealership_log', FILENAME = N'C:\Users\Jason\Dealership_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dealership]
GO
USE [Dealership]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 5/5/2017 3:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](200) NOT NULL,
	[Model] [nvarchar](200) NOT NULL,
	[Year] [datetime] NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetVehicles]    Script Date: 5/5/2017 3:16:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetVehicles]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT [VehicleId]
		  ,[Make]
		  ,[Model]
		  ,[Year]
	  FROM [dbo].[Vehicle]
END
GO
USE [master]
GO
